._app {
  padding-top: 0 !important;
}

._header {
  display: none !important;
}

._sidebar, ._resizer {
  top: 0 !important;
  margin-top: 0 !important;
}

._sidebar > ._list {
  padding-bottom: 0 !important;
}

._sidebar-footer {
  position: fixed !important;
  bottom: -1000px !important;
}
